<header id="primary-header">
   <div class="header-contents">
        <nav class="nav" id="nav">
            <a href="#" class="logo">
                <img src="images/deenonline2.jpeg" alt="">
                <!-- <div class="logo-text">
                    <h1><span class="deen">Deen</span><span class="online">Online</span></h1>
                    <span class="slogan">An Islamic Education Community</span>
                </div> -->
            </a>
            <ul class="navbar">
                <li><a href="">Home</a></li>
                <li><a href="">Courses</a></li>
                <li><a href="">About</a></li>
                <li><a href="#contact-form-wrapper">Contact</a></li>
                <li class="ml-5"><a href="">Rules & Guideline Instructions</a></li>
                <li class="ml-5"><a href="">More</a></li>
            </ul>
            <!-- <div class="contact-us">
                <div class="contents">
                    <div class="number">
                        <h3>+91-724-7890-4064</h3>
                    </div>
                    <div class="social-medias">
                        <a href="#" class="icon facebook"><img src="icons/facebook-brands.svg" alt=""></a>
                    </div>
                </div>
            </div> -->
            <a class="admisson-btn" href="/admission">Admission</a>
        </nav>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active item-one">
                    <div class="carousel-item-contents">
                        <div class="contents">
                            <h1>Deen Online</h1>
                            <h4>An International Online Islamic Education School</h4>
                            <h2>Where you can learn from basic Islamic aspects to knowing how to understand Quran yourself.</h2>
                            <div class="learn-more"><a href="#" type="button" class="read-more btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>
               
                <div class="carousel-item item-two">
                    <div class="carousel-item-contents">
                        <div class="contents">
                            <h1>Learn to Read Quran Correctly</h1>
                            <h3>Learning to read Quran Correctly is an obligation for each Muslim. So please don't be late to learn to read Quran correctly</h3>
                            <div class="learn-more"><a href="#" type="button" class="read-more btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item-three">
                    <div class="carousel-item-contents">
                        <div class="contents">
                            <h1>الَّذِينَ يُؤْمِنُونَ بِالْغَيْبِ وَيُقِيمُونَ الصَّلَاةَ وَمِمَّا رَزَقْنَاهُمْ يُنفِقُونَ
                            </h1>
                            <h3>Learning to read Quran Correctly is an obligation for each Muslim. So please don't be late to learn to read Quran correctly</h3>
                            <div class="learn-more"><a href="#" type="button" class="read-more btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</header>