<div class="about" id="about">
    <div class="container">
        <div class="about-contents">
            <h1>Who we are?</h1>
            <span class="underline"></span>
            <p>
                Deen Online in an online Islamic education school. It is organised with skilled and qualified teachers. It is working having well educated Qaris, Moulanas & teachers. Deen Online has over 100 students within just a few weeks learning Deen from all over India. Students are satisfied with the teachings of Deen Online.
                We have managed to bring Deen Online as an Internation Islamic School with the help of our teachers and team, and further we will work hard to spread the Islamic and other knowledge among our Muslim brothers and sisters (Insha'Allah). 
            </p>
            <p>Deen Online is serving the people in such a beautiful way that it is providing the education not only to the children but also to the people who are busy and can’t have time to go to School to learn and they are facing difficulties to learn Islam.</p>
        </div>
    </div>
</div>