<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/form.css">
    <title>Deen Online</title>
</head>
<body>
  <%- include( "social-contact-us.ejs" ) %>
  <%- include( "sidenav.ejs" ) %>
    <div class="admission p-2">
        <div class="container card">
          <h1 class="py-4 text-center">Admission Form</h1>
            <form class="row g-3 mx-auto card-body needs-validation" action="/admission" method="POST" enctype="multipart/form-data">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="name" required autofocus placeholder="Name">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                </div>
                <div class="col-12">
                    <label for="address" class="form-label">Full Address</label>
                  <input type="text" name="address" class="form-control" id="address" placeholder="Full Address" required>
                </div>
                <div class="col-md-4">    
                  <label for="gender" class="form-label">Gender</label>              
                  <select class="form-select gender" name="gender" id="gender" aria-label="Default select example" required>
                    <option selected value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="col-md-4">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" name="dob" class="form-control" id="dob" placeholder="DOB" required>
                  </div>
                <div class="col-md-4">
                    <label for="city" class="form-label">City</label>
                  <input type="text" name="city" class="form-control" id="city" placeholder="City">
                </div>
                <div class="col-md-6">
                    <label for="state" class="form-label">State</label>
                 <input type="text"  name="state" class="form-control" placeholder="State">
                  </select>
                </div>
                <div class="col-md-6">
                    <label for="zipcode" class="form-label">Zip Code</label>
                  <input type="text" name="zipcode" class="form-control" id="zipcode" placeholder="Zip Code">
                </div>
                <div class="col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" class="form-control" id="country" placeholder="Country">
                  </div>
                  <div class="col-md-6">
                    <label for="classtime" class="form-label">Select Class Time</label>
                    <input type="time" name="classtime" class="form-control" id="classtime" required>
                  </div>
                <div class="col-6">
                    <label for="contactnumber" class="form-label">Contact Number</label>
                    <input type="text" name="contactnumber" class="form-control" id="contactnumber" placeholder="Contact Number" required>
                    <div id="WhatsApphelp" class="form-text">WhatsApp number is preferred</div>
                </div>
                <div class="col-6">
                    <label for="parentscontactnumber" class="form-label">Parents' Contact Number</label>
                    <input type="text" name="parentscontactnumber" class="form-control" id="parentscontactnumber" placeholder="Parents' Contact Number">
                </div>
                <div class="col-12">
                  <label for="selcetCourse" class="form-label">Choose Course</label>
                  <select class="form-select" name="course" aria-label="Default select example" id="selectCourse" required>
                   <option selected>Choose Course</option>
                   <option value="1">Noorani Qaida with Qawaid</option>
                   <option value="2">Quran With Tajweed</option>
                   <option value="3">Quran Hifz (Memorization)</option>
                   <option value="4">Quran Tafseer (Explanation)</option>
                   <option value="5">Urdu & Arabi Languages</option>
                   <option value="6">Basic Islamic Knowldge</option>
                   <option value="7">Deeniyat Course for Children</option>
                   <option value="8">Anjuman Programs</option>
                   <option value="9">History of Islam</option>
                 </select>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">ID</label>
                    <input class="form-control" name="studentID" type="file" id="formFile">
                    <div id="formfilehelp" class="form-text">Any ID provided by the government, e.g., Aadhar Card, VoterID Card or any Residence Identity Card</div>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" name="agree" type="checkbox" id="agree" required>
                    <label class="form-check-label" for="agree">
                        I will follow the rules and guidelines given Deen Online.
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
        </div>
    </div>
    <script src="../../assets/js/form-validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/sidenav.js"></script>
</body>
</html>