<div class="contact-form-wrapper" id="contact-form-wrapper">    
    <div class="contact-form-contents">
        <!-- Contact Side -->
        <div class="contact-side">
            <div class="contact-detail">
               <div class="contact">
                <h1>Contact & Address</h1>
                    <div class="phone">
                        <span class="phone-icon"><img src="icons/phone.svg" alt="Phone Number"></span>
                        <span class="Phone Number">+917247894064</span>
                    </div>                
                    <div class="email">
                        <span class="email-icon"><img src="icons/contact_mail.svg" alt="Email"></span>
                        <span class="email">deenonline.in@gmail.com</span>
                    </div>                
                    <div class="address">
                        <span class="address-icon"><img src="icons/address.svg" alt="Address"></span>
                        <span class="address">244601 Faridnagar Thakurdwara, Moradabad, Uttar Pradesh, India</span>
                    </div>    
               </div>         
            </div>
                <!-- Contact Form -->
            <div class="form-contact-side">
                <form action="" class="contact-form">
                    <h2>Send us a message</h2>
                    <div class="form-group">
                        <!-- <label for="name">Name</label> -->
                        <input type="text" class="name" id="name" placeholder="Name" autofocus>
                    </div>
                    <div class="form-group">
                        <!-- <label for="number">Contact Number</label> -->
                        <input type="text" class="number" id="number" placeholder="Cotact Number">
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Email</label> -->
                        <input type="email" class="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!-- <label for="message">Message</label> -->
                        <textarea name="message" id="textarea" cols="30" rows="7" id="message" placeholder="Write your message here..."></textarea>
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary btn-lg submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="map" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12685.16805378545!2d78.88808703838663!3d29.182937586058653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390a44f944ffbd23%3A0x47321ec7cf03aff6!2zMjnCsDEwJzUyLjciTiA3OMKwNTMnMjQuNCJF!5e0!3m2!1sen!2sin!4v1629717692790!5m2!1sen!2sin" width="600" height="450" style="border:0; background-color: #00B4DB;" allowfullscreen="true" loading="lazy"></iframe>
        </div>
    </div>
</div>