<div class="courses" id="courses">
    <div class="course-contents">
        <div class="course-heading">
            <h1>Our Online Courses</h1>
            <span class="underline"></span>
        </div>
        <div class="container">
            <div class="course course-two">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Noorani Qaida</h2>
                    <p class="course-description">
                        <h5>In this course we teach:</h5>
                        <ul>
                            <li>Recognizing and pronouncing the Arabic Alphabets</li>
                            <li>Making the correct position of Arabic alphabets and words</li>
                            <li>Reading the Quran with rules (Qawaid) and proficiency (Tajweed)</li>``
                        </ul>
                    </p>
               </div>
            </div>
            <div class="course course-three">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran with Tajweed</h2>
                    <div class="course-description">
                        Our students will be taught reading Quran with Tajweed-o-Qawaid in beautiful voice as Allah Subhanahu Wa Ta'ala asked to recite Quran Patiently.
                        <div class="quran">
                            <p><strong> وَرَتِّلِ الْقُرْآنَ تَرْتِيلًا ﴿٤</strong></p>
                            <span>Translation</span>
                            <p>اور قرآن کو ٹھہر ٹھہر کر پڑھا کرو</p>
                            <p><i>And recite the Qur'an with measured recitation.</i></p>
                            <p>-Quran</p>
                        </div>
                    </div>
               </div>
            </div>
            <div class="course course-four">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Urdu & Arabi Language</h2>
                    <p class="course-description">This course is for those who want to learn to read Urdu and Arabic books, Quran Tafseer and the books of Hadith and other Islmic books, and also for the people who don't know how to read Urdu and Arabi so that they can read and understand the Urdu and Arabic books easily.</p>
               </div>
            </div>
            <div class="course course-five">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran Hifz (Momorization)</h2>
                    <p class="course-description">
                        We also have the educated and skilled Qaris to teach Quran Hifz (Quran Memorization). You can join Quran Hifz classes with our expert Qaris.
                        <p>Rasulullah (sallallahu ‘alayhi wa sallam) is reported to have said:</p>
                        <q>”A person who recites the Quran and has memorised it, will be with noble scribes (Angels/Prophets, in Jannah)”</q>

                        <br><br>(Sahih Bukhari, Hadith: 4937)

                    </p>
               </div>
            </div>
            <div class="course course-six">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran Tafseer (Explanation)</h2>
                    <p class="course-description">This session is prepared for the people who want to listen Quran Tafseer and want to read Quran by understanding its meaning so that they can understand the rulings of Quran and live according to Quran-o-Hadith</p>
               </div>
            </div>
            <div class="course course-one">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Basic Islamic Knowldge</h2>
                    <p class="course-description">This course is for our brothers and sisters who could not learn Deen and today you are unable to go to Islamic School because of your work and business. Dear brother and sisters you don't need to be worried, we will help you learn from your home.</p>
                    <p>This course is specified for the people who want to learn Basic aspects of Islam</p>
               </div>
            </div>
            <!-- <div class="course course-seven">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">English Speaking</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div> -->
            <div class="course course-eight">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Anjuman Programs</h2>
                    <p class="course-description"> </p>
               </div>
            </div>
            <div class="course course-nine">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Deeniyat</h2>
                    <p class="course-description">Deeniyat course is specifically made for children to help understand the basic principles of Islam such as Namaz. Roza, Kalime, Duas, and Hadith-o-Sunnah. We do our best to bring children under the shade of Quran-o-Hadith by Allah's concent.</p>
               </div>
            </div>
        </div>
    </div>
</div>