<div class="courses" id="courses">
    <div class="course-contents">
        <div class="course-heading">
            <h1>Our Online Courses</h1>
            <span class="underline"></span>
        </div>
        <div class="container">
            <div class="course course-two">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Noorani Qaida</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-three">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran with Tajweed</h2>
                    <p class="course-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit ipsum maxime blanditiis debitis ullam accusantium qui molestiae iusto deserunt nostrum?</p>
               </div>
            </div>
            <div class="course course-four">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Urdu & Arabi Language</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-five">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran Hifz (Momorization)</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-six">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran Tafseer (Explanation)</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-one">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Basic Islamic Course</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-seven">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">English Speaking</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-eight">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Anjuman Programs</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-nine">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Deeniyat</h2>
                    <p class="course-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit ipsum maxime blanditiis debitis ullam accusantium qui molestiae iusto deserunt nostrum?</p>
               </div>
            </div>
        </div>
    </div>
</div>