<div class="courses" id="courses">
    <div class="course-contents">
        <div class="course-heading">
            <h1>Our Online Courses</h1>
            <span class="underline"></span>
        </div>
        <div class="container">
            <div class="course course-two">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Noorani Qaida</h2>
                    <p class="course-description">
                        <h5>In this course we teach:</h5>
                        <ul>
                            <li>Recognizing and pronouncing the Arabic Alphabets</li>
                            <li>Making the correct position of Arabic alphabets and words</li>
                            <li>Reading the Quran with rules (Qawaid) and proficiency (Tajweed)</li>``
                        </ul>
                    </p>
               </div>
            </div>
            <div class="course course-three">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran with Tajweed</h2>
                    <p class="course-description"></p>
               </div>
            </div>
            <div class="course course-four">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Urdu & Arabi Language</h2>
                    <p class="course-description">This course is for those who want to learn to read Urdu and Arabic books, Quran Tafseer and the books of Hadith and other Islmic books, and also for the people who don't know how to read Urdu and Arabi so that they can read and understand the Urdu and Arabic books easily.</p>
               </div>
            </div>
            <div class="course course-five">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran Hifz (Momorization)</h2>
                    <p class="course-description">
                        We also have the educated and skilled Qaris to teach Quran Hifz (Quran Memorization). You can join Quran Hifz classes with our expert Qaris.
                        <p>Rasulullah (sallallahu ‘alayhi wa sallam) is reported to have said:</p>
                        <q>”A person who recites the Quran and has memorised it, will be with noble scribes (Angels/Prophets, in Jannah)”</q>

                        <br><br>(Sahih Bukhari, Hadith: 4937)

                    </p>
               </div>
            </div>
            <div class="course course-six">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Quran Tafseer (Explanation)</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-one">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Basic Islamic Course</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-seven">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">English Speaking</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-eight">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Anjuman Programs</h2>
                    <p class="course-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, laborum omnis? Impedit tenetur inventore culpa qui, repudiandae nihil autem eum.</p>
               </div>
            </div>
            <div class="course course-nine">
                <div class="course-icon">
                    <img src="icons/check_circle.svg" alt="">
                </div>
               <div class="course-detail">
                    <h2 class="course-name">Deeniyat</h2>
                    <p class="course-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit ipsum maxime blanditiis debitis ullam accusantium qui molestiae iusto deserunt nostrum?</p>
               </div>
            </div>
        </div>
    </div>
</div>