<div class="footer bg-dark" id="footer">
    <div class="container">
        <div class="footer-nav">
            <a href="/" class="logo">
                <img src="icons/logo.svg" alt="">
                <div class="text-logo">
                   <h1>
                        <span class="deen text-success">Deen</span><span class="online text-primary">Online</span>
                   </h1>
                </div>
            </a>
        </div>
        <div class="footer-contents">           
            <div class="footer-left flex-item">
                <h3 class="heading">Quick Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#contact">Contact US</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
            <div class="footer-center flex-item">
                <div class="contact">
                    <h3>Contact & Address</h3>
                    <div class="phone">
                        <span class="phone-icon icon"><img src="icons/footer_phone.svg" alt="Phone Number"></span>
                        <span class="number">+917247894064</span>
                    </div>                
                    <div class="email">
                        <span class="email-icon icon"><img src="icons/footer_contact_mail.svg" alt="Email"></span>
                        <a href=mailto:deenonline.in@gmail.com class="mailto"><span class="email">deenonline.in@gmail.com</span></a>
                    </div>    
                    <div class="website">
                        <span class="website-icon icon"><img src="icons/web.svg" alt="Website"></span>
                        <a href="http://www.deenonline.in"><span class="website">www.deenonline.in</span></a>
                    </div>               
                    <div class="address">
                        <span class="address-icon icon"><img src="icons/footer_address.svg" alt="Address"></span>
                        <span class="address">244601 Faridnagar Thakurdwara, Moradabad, Uttar Pradesh, India</span>
                    </div>   
                </div>  
            </div>
            <div class="footer-right flex-item">
                <h3>Follow Us on</h3>
                <div class="icons">
                    <a href="https://www.facebook.com/deenonline.in" target="_blank"><span><img title="Facebook" src="icons/facebook.svg" alt=""></span></a>
                    <a href="https://www.instagram.com/deen__online/" target="_blank"><span><img title="Instagram" src="icons/instagram.svg" alt=""></span></a>
                    <a href="https://youtube.com/channel/UCAvN_6qlBz7DQbdxT5IMvhg" target="_blank"><span><img Title="Youtube" src="icons/youtube.svg" alt=""></span></a>
                    <a href="https://twitter.com/DeenOnline2" target="_blank"><span><img title="Twitter" src="icons/twitter.svg" alt=""></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>Copyright</span>
        <img src="icons/copyright.svg" alt="Copyright">
        <span>2021-2022</span>
    </div>
</div>