<div class="mission-wrapper">
    <div class="mission" id="mission">
        <div class="container">
            <div class="mission-contents">
                <h1>
                    <span>Our Mission</span>
                    <span class="underline"></span>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium totam doloremque ullam, suscipit tenetur, impedit minus omnis non laboriosam excepturi est possimus eligendi. Reiciendis repellendus fuga natus atque qui quidem, numquam aliquid accusantium deleniti hic, nulla nihil deserunt libero eveniet porro inventore, voluptas quasi. Illum quis qui ad repellat aut harum sapiente, exercitationem obcaecati sequi cumque. A corrupti temporibus eius! Natus ea, temporibus nobis cumque, fuga commodi, voluptas fugiat quos id hic illum minima. Quis doloribus reiciendis omnis numquam? Voluptatibus magni eius iusto animi officia quidem odit esse vero voluptatem blanditiis consequuntur tempora non, fuga eos ipsum sit facilis illo. Dicta excepturi voluptate natus dignissimos ratione eligendi nesciunt tempora, impedit animi dolore, porro perferendis! Vero, deserunt quasi! Inventore reiciendis facere possimus, accusantium explicabo totam delectus, dignissimos voluptatem praesentium molestias placeat sit! Velit ullam quam quisquam nostrum, illum atque porro tempora voluptate assumenda, sapiente possimus tenetur odio consectetur id maiores. Sequi in impedit beatae repudiandae, iusto expedita dolores minima laborum, natus, quisquam aperiam cumque. Dolore, quidem optio, a aliquid tempora ipsum consequatur exercitationem veritatis quibusdam quae odio iure reprehenderit! Sit dignissimos blanditiis pariatur magnam eaque excepturi minus ab natus, fuga, voluptate ut iusto recusandae iure nostrum officia a reiciendis. Aperiam, hic.</p>
                <div class="p-4 quran">
                    <h1>الَّذِينَ يُؤْمِنُونَ بِالْغَيْبِ وَيُقِيمُونَ الصَّلَاةَ وَمِمَّا رَزَقْنَاهُمْ يُنفِقُونَ</h1>
                    <span>Translation</span>
                    <p><q>Those who believe without seeing (the hidden), and keep the (obligatory) prayer established, and spend in Our cause from what We have bestowed upon them.</q></p>
                    <p class="text-right">- Al-Baqara-(286/3)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="facilities">
    <div class="container">
        <h1>
            <span>Our Facilities</span>    
            <span class="underline"></span>
        </h1>
        <div class="facilities-contents">
            <div class="facility">
                <ul>
                    <li>
                        <span class="icon"><img src="icons/education.svg" alt=""></span>
                        <span>Qualified Teachers</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/male-female.svg" alt=""></span>
                        <span>Male and Female Teachers</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/schedule.svg" alt=""></span>
                        <span>Classes Based on Flexible Schedule</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/special-class.svg" alt=""></span>
                        <span>Special Classes</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/trial.svg" alt=""></span>
                        <span>Demo Classes</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/one-on-one.svg" alt=""></span>
                        <span>One on One Sessions</span>
                    </li>
    
                    <li>
                        <span class="icon"><img src="icons/quality.svg" alt=""></span>
                        <span>Quality Education</span>
                    </li>
                   
                    <li>
                        <span class="icon"><img src="icons/extra-time.svg" alt=""></span>
                        <span>Extra Time</span>
                    </li>
                    <li>
                      <span class="icon"><img src="icons/group.svg" alt=""></span>
                      <span>Parents' Meeting</span>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container card mt-4 bg-light">
  <ul class="list-group list-group-flush card-body">
    <li class="list-group-item"><h3 class="text-dark">Rule and Guidelines</h3></li>
    <li class="list-group-item bg-light">Join class on time</li>
    <li class="list-group-item bg-light">Inform if you want an offm</li>
    <li class="list-group-item bg-light">Penalty on accessive absence</li>
    <li class="list-group-item bg-light">Focus on class</li>
    <li class="list-group-item bg-light">Follow the teachers' guidelines in the class</li>
  </ul>
</div>