<div class="mission-wrapper" id="mission">
    <div class="mission">
        <div class="container">
            <div class="mission-contents">
                <h1>
                    <span>Our Mission</span>
                    <span class="underline"></span>
                </h1>
                <p>
                    Deen online is a well-organized Islamic school which aim is to provide Islamic education to each Muslim around the world so that each Muslim may have the sufficient knowledge of Quran and Hadith, walk on the righteous and straight path and live according to Quran and Sunna. 
                    Deen Online provides different courses such as, Nurani Qaida, Quran Nazra, Quran Hifz, Quran Tafseer, Urdu & Arabi Languages, basic Islamic knowledge, history of Islam and more.
                </p>
                <p>
                    Our motive is to take the young people into the Islmic Atmosphare where they can understand, inspire and guide the community, create the atmosphare the of Deen-o-Islam and make a better life according to saying to Allah Subhanahu Wa Ta'ala.
                </p>
                <div class="p-4 quran">
                    <h1>خيركم من تعلم القرآن وعلمه</h1>
                    <h3 class="text-center mb-4">Khairukum man ta'allamal Qur'aana wa 'allamahu
                        (Bukhari)</h3>
                    <span>Translation</span>
                    <p><q>The best of you are those who learn the Qur'an and teach it</q></p>
                    <p>
                        
                        
                        7
                        He(ﷺ) also said:<br>
                        "The Qur’an is an intercessor and it’s intercession is accepted and its plea is believed. Whoever makes it lead him – it leads him to Paradise and whomsoever places it behind him [the result will be] he is dragged to the Fire.”</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="facilities">
    <div class="container">
        <h1>
            <span>Our Facilities</span>    
            <span class="underline"></span>
        </h1>
        <div class="facilities-contents">
            <div class="facility">
                <ul>
                    <li>
                        <span class="icon"><img src="icons/education.svg" alt=""></span>
                        <span>Qualified Teachers</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/male-female.svg" alt=""></span>
                        <span>Male and Female Teachers</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/schedule.svg" alt=""></span>
                        <span>Classes Based on Flexible Schedule</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/special-class.svg" alt=""></span>
                        <span>Special Classes</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/trial.svg" alt=""></span>
                        <span>Demo Classes</span>
                    </li>
                    <li>
                        <span class="icon"><img src="icons/one-on-one.svg" alt=""></span>
                        <span>One on One Sessions</span>
                    </li>
    
                    <li>
                        <span class="icon"><img src="icons/quality.svg" alt=""></span>
                        <span>Quality Education</span>
                    </li>
                   
                    <li>
                        <span class="icon"><img src="icons/extra-time.svg" alt=""></span>
                        <span>Extra Time</span>
                    </li>
                    <li>
                      <span class="icon"><img src="icons/group.svg" alt=""></span>
                      <span>Parents' Meeting</span>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card m-3" id="rules_and_guidelines">
    <div class="container card-body mt-4 bg-light">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h3 class="text-dark">Our "Rules in Class"</h3></li>
          <li class="list-group-item bg-light"><h6>Join class on time</h6></li>
          <li class="list-group-item bg-light"><h6>Inform if you want an off</h6></li>
          <li class="list-group-item bg-light"><h6>Penalty on accessive absence</h6></li>
          <li class="list-group-item bg-light"><h6>Focus on class</h6></li>
          <li class="list-group-item bg-light"><h6>Follow the teachers' guidelines in the class</h6></li>
        </ul>
      </div>
</div>