<div class="sidenav">
    <a href="#"><img src="icons/hamburger.svg" alt=""></a>
    <div class="nav-content">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Contact</a></li> 
            <li><a href="#">About</a></li> 
        </ul>
    </div>
</div>