<div class="sidenav bg-dark">
    <a href="#" class="hamburger"><img src="icons/hamburger.svg" alt=""></a>
    <!-- <div class="text-logo float-right">
        <h1>
             <span class="deen text-success">Deen</span><span class="online text-primary">Online</span>
        </h1>
     </div> -->
    <div class="sidenav-contents close-sidenav p-3">
        <a href="/admission" class="btn btn-primary" role="button">Admission</a>
        <a href="" class="close"><img src="icons/close.svg" alt=""></a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Home</a></li>
            <li class="list-group-item"><a href="#">Courses</a></li>
            <li class="list-group-item"><a href="#">Contact</a></li> 
            <li class="list-group-item"><a href="#">About</a></li> 
        </ul>
    </div>
</div>