<div class="sidenav bg-dark">
    <a href="#" class="hamburger ml-auto"><img src="icons/hamburger.svg" alt=""></a>
    <a href="https://surveyheart.com/form/6194aece53dfac1d926066cd" target="_blank" class="btn btn-primary" role="button">Admission</a>
    <div class="sidenav-contents close-sidenav p-3">
        <!-- <a href="/admission" class="btn btn-primary" role="button">Admission</a> -->
        <a href="" class="close"><img src="icons/close.svg" alt=""></a>
        <div class="icons">
            <a href="https://www.facebook.com/deenonline.in" target="_blank"><span><img title="Facebook" src="icons/facebook.svg" alt=""></span></a>
            <a href="https://www.instagram.com/deenonline.in/" target="_blank"><span><img title="Instagram" src="icons/instagram.svg" alt=""></span></a>
            <a href="https://youtube.com/channel/UCAvN_6qlBz7DQbdxT5IMvhg" target="_blank"><span><img Title="Youtube" src="icons/youtube.svg" alt=""></span></a>
            <a href="https://twitter.com/DeenOnline2" target="_blank"><span><img title="Twitter" src="icons/twitter.svg" alt=""></span></a>
            <a href="https://wa.me/+917247894064/?text=urlencodedtext" target="_blank"><span><img title="Whats App" src="icons/whatsapp.svg" alt=""></span></a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/">Home</a></li>
            <li class="list-group-item"><a href="#courses">Courses</a></li>
            <li class="list-group-item"><a href="#contact">Contact</a></li> 
            <li class="list-group-item"><a href="#about">About</a></li> 
        </ul>
    </div>
</div>