<div class="social-contacts">
    <div class="contents">
        <div class="social-icons">
            <h5>Follow Us on</h5>
            <div class="icons">
                <a href="#"><span><img title="Facebook" src="icons/facebook.svg" alt=""></span></a>
                <a href="#"><span><img title="Instagram" src="icons/instagram.svg" alt=""></span></a>
                <a href="#"><span><img Title="Youtube" src="icons/youtube.svg" alt=""></span></a>
                <a href="#"><span><img title="Twitter" src="icons/twitter.svg" alt=""></span></a>
            </div>
        </div>
        <div class="contact-number">
            <div class="contents">
                <span class="call-at">Call at</span>
                <!-- <span class="call-icon">
                     <img src="/icons/call.svg" alt="Call">
                </span> -->
                <span class="number">+917247894064</span>
            </div>
        </div>
    </div>
</div>