<div class="social-contacts">
    <div class="contents bg-dark">
        <div class="social-icons">
            <span>Follow Us on</span>
            <div class="icons">
                <a href=""><span><img title="Facebook" src="icons/facebook.svg" alt=""></span></a>
                <a href="https://www.instagram.com/deen__online/" target="_blank"><span><img title="Instagram" src="icons/instagram.svg" alt=""></span></a>
                <a href="https://youtube.com/channel/UCAvN_6qlBz7DQbdxT5IMvhg" target=_blank""><span><img Title="Youtube" src="icons/youtube.svg" alt=""></span></a>
                <a href="https://twitter.com/DeenOnline2" target="_blank"><span><img title="Twitter" src="icons/twitter.svg" alt=""></span></a>
            </div>
        </div>
        <div class="contact-number">
            <div class="contents">
                <span class="call-at">Call at</span>
                <span class="number">+917247894064</span>
            </div>
        </div>
    </div>
</div>