<div class="glider-contain multiple">
    <div class="container m-auto  p-5">
        <h1>Students' Feedbacks</h1>
        <button class="glider-prev">
            <img src="icons/chevron_left.svg" alt="Chevron Left" style="width: 50px; height: 50px;">
        </button>
        <div class="glider">
            <div class="feedback feedback-one">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>I am taking online classes at Deen Online. I am learning to read Quran with Tajweed. Before I joined Deen Online, I did not know how to read Quran but since I joined Deen Online I started learning to read Quran and Alhamdulillah now I can read Quran correctly.</q>
                                <br><br>
                                <q>I am very happy that Allah has given me a chance to join Deen Online.
                                    <br>Thank you teachers and team, Deen Online.</q>
                        </blockquote>
                        <figcaption class="text-primary">—Farheen Siddiqui, <cite>Kanpur (UP)</cite></figcaption>
                    </figure>
                </div>    
            </div> 
            <div class="feedback feedback-two">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>
                                I am the student of Deen Online, it seems like I have got a better platform to learn to read Quran and more about Islam. The teaching method of teachers at Deen Online is excellent and easy to understand. I am enjoying online classes of Quran with Tajweed, Urdu and Arbi languages, Hadith, Kalime, History of Islam, etc.  After joining Deen Online my knowledge and Faith have been evaluated.
                                It has become so easy to learn. Thank you teachers who arranged online classes for me.
                               
                            </q>
                        </blockquote>
                        <figcaption class="text-primary">—Mahvish Gazal, <cite>Kanpur (UP)</cite></figcaption>
                    </figure>
                </div>    
            </div>
            <div class="feedback feedback-three">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>I got in touch with Deen Online through Instagram and started learning Quran-o-Hadith, after a few days I got so many increaments in my knowledge of Quran-o-Hadith and proficiency in reading Urdu and Arbi.
                                I felt like I got one the best platforms to learn about Islam. I continued learning and I saw a lots of changes in my knowledge and "Alhamdulillah" now I can read Quran completely and correctly.
                                <br>
                                I wish more people join with Deen Online.
                               <br><br> Thank you my teachers and team Deen Online
                            </q>
                        </blockquote>
                        <figcaption class="text-primary">—Dr. Naziah Begum, <cite>Andhra Pradesh</cite></figcaption>
                    </figure>
                </div>    
            </div>
            <div class="feedback feedback-four">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>
                                My 8 years old son and 12 years old daughter are the students of Deen Online. Deen Online is providing a better education to my children. My children are learning to read Quran, how to pray, how to make Ablution (Wudu), How to make ritual bathing (Gusl), Hadith-o-Sunna and much more.
                                I wish, May Allah succeed Deen Online.
                                <br><br>Thank you teachers and Team Deen Online.
                            </q>
                        </blockquote>
                        <figcaption class="text-primary">—Shagufta Chaudhary (Mother of Ahil and Sumaila), <cite>Bandra Mumbai</cite></figcaption>
                    </figure>
                </div>      
            </div>
            <div class="feedback feedback-five">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>I am Abbas Ali, i am a retired teacher and my age is 70 years. I did not know about Quran-o-Hadith, I was wandering and worried about my Hereafter. I tried to find the learning path in this age and it was little difficult but with concent of Allah I got Deen Online and started learning. Deen Online provided me beautiful knowledge which illuminated my life with beautiful knowledge of Quran-o-Sunnah</q>
                        </blockquote>
                        <figcaption class="text-primary">—Abbas Ali (Retired Govt. Teacher), <cite>Delhi</cite></figcaption>
                    </figure>
                </div>    
            </div>
        </div>
        <button class="glider-next">
            <img src="icons/chevron_right.svg" alt="Chevron Right" style="width: 50px; height: 50px;">
        </button>
        <div id="dots" class="glider-dots"></div>
    </div>
</div>

<div class="feedback-wrapper">
    <div class="container m-auto">
        <h1>Students' Feedbacks</h1>
        <div class="feedback-contents">
            <div class="feedback feedback-one">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>I am taking online classes at Deen Online. I am learning to read Quran with Tajweed. Before I joined Deen Online, I did not know how to read Quran but since I joined Deen Online I started learning to read Quran and Alhamdulillah now I can read Quran correctly.</q>
                                <br><br>
                                <q>I am very happy that Allah has given me a chance to join Deen Online.
                                    <br>Thank you teachers and team, Deen Online.</q>
                        </blockquote>
                        <figcaption class="text-primary">—Farheen Siddiqui, <cite>Kanpur (UP)</cite></figcaption>
                    </figure>
                </div>    
            </div> 
            <div class="feedback feedback-two">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <blockquote cite="https://www.huxley.net/bnw/four.html">
                        <q>
                            I am the student of Deen Online, it seems like I have got a better platform to learn to read Quran and more about Islam. The teaching method of teachers at Deen Online is excellent and easy to understand. I am enjoying online classes of Quran with Tajweed, Urdu and Arbi languages, Hadith, Kalime, History of Islam, etc.  After joining Deen Online my knowledge and Faith have been evaluated.
                            It has become so easy to learn. Thank you teachers who arranged online classes for me.
                           
                        </q>
                    </blockquote>
                    <figcaption class="text-primary">—Mahvish Gazal, <cite>Kanpur (UP)</cite></figcaption>
                </div>    
            </div>
            <div class="feedback feedback-three">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <blockquote cite="https://www.huxley.net/bnw/four.html">
                        <q>I got in touch with Deen Online through Instagram and started learning Quran-o-Hadith, after a few days I got so many increaments in my knowledge of Quran-o-Hadith and proficiency in reading Urdu and Arbi.
                            I felt like I got one the best platforms to learn about Islam. I continued learning and I saw a lots of changes in my knowledge and "Alhamdulillah" now I can read Quran completely and correctly.
                            <br>
                            I wish more people join with Deen Online.
                           <br><br> Thank you my teachers and team Deen Online
                        </q>
                    </blockquote>
                    <figcaption class="text-primary">—Dr. Naziah Begum, <cite>Andhra Pradesh</cite></figcaption>
                </div>    
            </div>
            <div class="feedback feedback-four">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>
                                My 8 years old son and 12 years old daughter are the students of Deen Online. Deen Online is providing a better education to my children. My children are learning to read Quran, how to pray, how to make Ablution (Wudu), How to make ritual bathing (Gusl), Hadith-o-Sunna and much more.
                                I wish, May Allah succeed Deen Online.
                                <br><br>Thank you teachers and Team Deen Online.
                            </q>
                        </blockquote>
                        <figcaption class="text-primary">—Shagufta Chaudhary (Mother of Ahil and Sumaila), <cite>Bandra Mumbai</cite></figcaption>
                    </figure>
                </div>      
            </div>
            <div class="feedback feedback-five">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>I am Abbas Ali, i am a retired teacher and my age is 70 years. I did not know about Quran-o-Hadith, I was wandering and worried about my Hereafter. I tried to find the learning path in this age and it was little difficult but with concent of Allah I got Deen Online and started learning. Deen provided me beautiful knowledge which illuminated my life with beautiful knowledge Quran-o-Sunnah</q>
                        </blockquote>
                        <figcaption class="text-primary">—Abbas Ali (Retired Govt. Teacher), <cite>Delhi</cite></figcaption>
                    </figure>
                </div>    
            </div>
        </div>
    </div>
</div>