<div class="glider-contain multiple">
    <div class="container m-auto  p-5">
        <h1>Students' Feedbacks</h1>
        <button class="glider-prev">
            <img src="icons/chevron_left.svg" alt="Chevron Left" style="width: 50px; height: 50px;">
        </button>
        <div class="glider">
            <div class="feedback feedback-one">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>I am taking online classes at Deen Online. I am learning to read Quran with Tajweed. Before I joined Deen Online, I did not know how to read Quran but since I joined Deen Online I started learning to read Quran and Alhamdulillah now I can read Quran correctly.</q>
                                <br><br>
                                <q>I am very happy that Allah has given me a chance to join Deen Online.
                                    <br>Thank you teachers and team, Deen Online.</q>
                        </blockquote>
                        <figcaption>—Farheen Siddiqui, <cite>Kanpur (UP)</cite></figcaption>
                    </figure>
                </div>    
            </div> 
            <div class="feedback feedback-two">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde commodi ipsam, nam alias nemo qui eius harum accusamus est temporibus aut omnis possimus libero hic doloremque deserunt modi. Magnam voluptatibus, quidem consequuntur laudantium nostrum nam. Voluptates tempora tempore, dicta maxime qui vero est aperiam quas sapiente ipsa! Sint, perferendis officia.
                               
                            </q>
                        </blockquote>
                        <figcaption>—Mahvish Gazal, <cite>Kanpur (UP)</cite></figcaption>
                    </figure>
                </div>    
            </div>
            <div class="feedback feedback-three">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde commodi ipsam, nam alias nemo qui eius harum accusamus est temporibus aut omnis possimus libero hic doloremque deserunt modi. Magnam voluptatibus, quidem consequuntur laudantium nostrum nam. Voluptates tempora tempore, dicta maxime qui vero est aperiam quas sapiente ipsa! Sint, perferendis officia.</q>
                        </blockquote>
                        <figcaption>—Dr. Naziah Begum, <cite>Andhra Pradesh</cite></figcaption>
                    </figure>
                </div>    
            </div>
            <div class="feedback feedback-four">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde commodi ipsam, nam alias nemo qui eius harum accusamus est temporibus aut omnis possimus libero hic doloremque deserunt modi. Magnam voluptatibus, quidem consequuntur laudantium nostrum nam. Voluptates tempora tempore, dicta maxime qui vero est aperiam quas sapiente ipsa! Sint, perferendis officia.</q>
                        </blockquote>
                        <figcaption>—Shagufta Chaudhary (Mother of Ahil and Sumaila), <cite>Bandra Mumbai</cite></figcaption>
                    </figure>
                </div>      
            </div>
            <div class="feedback feedback-five">
                <div class="quote">
                    <img src="icons/quote-left.svg" alt="Quote Left">
                </div>
                <div class="message">
                    <figure>
                        <blockquote cite="https://www.huxley.net/bnw/four.html">
                            <q>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde commodi ipsam, nam alias nemo qui eius harum accusamus est temporibus aut omnis possimus libero hic doloremque deserunt modi. Magnam voluptatibus, quidem consequuntur laudantium nostrum nam. Voluptates tempora tempore, dicta maxime qui vero est aperiam quas sapiente ipsa! Sint, perferendis officia.</q>
                        </blockquote>
                        <figcaption>—Abbas Ali (Retired Govt. Teacher), <cite>Delhi</cite></figcaption>
                    </figure>
                </div>    
            </div>
        </div>
        <button class="glider-next">
            <img src="icons/chevron_right.svg" alt="Chevron Right" style="width: 50px; height: 50px;">
        </button>
        <div id="dots" class="glider-dots"></div>
    </div>
</div>