@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, .1);
}

div.message-popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    color: #fff;
    z-index: 3;
    text-align: center;
}
@media(max-width:620px){
    div.message-popup{
        font-size: 80%;
    }
}
div.message-popup.remove-message-popup{
    top: -60px;
    transition: 1500ms ease-in-out;
}

/* Side nav */
div.sidenav{
    display: none;
}

@media (max-width:924px){
    div.sidenav{
        display: block;
        width: 100%;
        height: 56px;
        background-color: #1DA1F2;
        line-height: 55px;
        box-shadow: 3px 0px 5px rgba(0,0,0,.5);
    }
       div.sidenav a.hamburger{
            margin: 0px 15px;
        }

       div.sidenav div.sidenav-contents{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 350px;
            background-color: #eee;
            z-index: 2;
            transition: margin 500ms ease-in-out;
        }
        div.sidenav div.sidenav-contents a.close{
                float: right;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: rgba(0,0,0,.1);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 10px 0px 0px;
            }
            div.sidenav div.sidenav-contents ul{
                width: 100%;
                list-style: none;
                margin-top: 50px;
                line-height: 1.5em;
                padding: 0;
            }
            div.sidenav div.sidenav-contents ul li a{
                text-decoration: none;
                padding: 10px;
                display: block;
                color: rgba(0,0,0,.8);
                    /* background-color: rgba(0,0,0,.05); */
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
            div.sidenav div.sidenav-contents ul li a:hover{
                background-color: rgba(0,0,0,.05);
            }
            .list-group-item{
                background-color: #eee;
            }
        div.sidenav-contents.close-sidenav{
            margin-left: -350px;
            transition: margin 500ms ease-in-out;
        } 
}
/* Social Contact Nav */
div.social-contacts{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
@media (max-width:924px){
    div.social-contacts{
        display: none;
    }
}
div.contents{
    width: 100%;
    padding: .5em;
    display: flex;
    /* background-color: #1DA1F2; */
    color: #fff;
}
div.social-icons{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
div.social-icons span{
    margin-right: 18px;
    text-transform: uppercase;
}
div.social-icons div.icons{
    display: flex;
}
div.social-icons div.icons a{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
div.social-icons div.icons a img{
    display: block;
    width:30px;
    height: 30px;
}
div.contents div.contact-number{
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
}
div.contents div.contact-number div.contents{
    display: flex;
    align-items: center;
}
div.contents div.contact-number div.contents span{
    margin-right: 10px;
    font-weight: 700;
}


/* Form Start */
label{
    font-weight: bold;
}
h1{
    font-weight: bold;
    color: #1DA1F2;
}
div.admission{
    position: relative;
    top: 70px;
}
div.admission div.container{
    box-shadow:0px 0px 20px rgba(82, 77, 77, 0.2);
    border-radius: 5px;
    width: 50%;
}
@media(max-width:1020px){
    div.admission div.container{
        box-shadow:none;
        width:80%;
        margin-bottom: 100px;
    }
}
@media(max-width:720px){
    div.admission{
        position: relative;
        top: 0px;
    }
    div.admission div.container{
        box-shadow:none;
        width:100%;
    }
}