@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

div.sidenav {
  display: none;
}

div.message-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  color: #fff;
  z-index: 3;
  text-align: center;
}

@media (max-width: 620px) {
  div.message-popup {
    font-size: 80%;
  }
}

div.message-popup.remove-message-popup {
  top: -60px;
  -webkit-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}

@media (max-width: 924px) {
  div.sidenav {
    display: block;
    width: 100%;
    height: 56px;
    background-color: #1DA1F2;
    line-height: 55px;
    -webkit-box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.5);
  }
  div.sidenav a.hamburger {
    margin: 0px 15px;
  }
  div.sidenav div.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.sidenav div.icons a {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  div.sidenav div.icons img {
    display: block;
    width: 30px;
    height: 30px;
  }
  div.sidenav div.sidenav-contents {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    background-color: #eee;
    z-index: 2;
    -webkit-transition: margin 500ms ease-in-out;
    transition: margin 500ms ease-in-out;
  }
  div.sidenav div.sidenav-contents a.close {
    float: right;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 20px 0px 0px;
  }
  div.sidenav div.sidenav-contents ul {
    width: 100%;
    list-style: none;
    margin-top: 50px;
    line-height: 1.5em;
    padding: 0;
  }
  div.sidenav div.sidenav-contents ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  div.sidenav div.sidenav-contents ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  div.sidenav div.sidenav-contents ul .list-group-item {
    background-color: #eee;
  }
  div.sidenav div.sidenav-contents.close-sidenav {
    margin-left: -350px;
    -webkit-transition: margin 500ms ease-in-out;
    transition: margin 500ms ease-in-out;
  }
}

div.social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

div.social-contacts div.contents {
  width: 100%;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

div.social-contacts div.contents div.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

div.social-contacts div.contents div.social-icons span {
  margin-right: 18px;
  text-transform: uppercase;
}

div.social-contacts div.contents div.social-icons div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.social-contacts div.contents div.social-icons div.icons a {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

div.social-contacts div.contents div.social-icons div.icons img {
  display: block;
  width: 30px;
  height: 30px;
}

div.social-contacts div.contents div.contact-number {
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
}

div.social-contacts div.contents div.contact-number div.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.social-contacts div.contents div.contact-number div.contents span {
  margin-right: 10px;
  font-weight: 700;
}

@media (max-width: 924px) {
  div.social-contacts {
    display: none;
  }
}

#primary-header {
  position: relative;
  width: 100%;
  color: #fff;
  position: relative;
  min-height: 90vh;
  margin-bottom: 50px;
  top: 56px;
}

#primary-header div.header-contents {
  width: 100%;
}

#primary-header div.header-contents nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}

#primary-header div.header-contents nav.nav a.logo {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

#primary-header div.header-contents nav.nav a.logo img {
  display: block;
  width: 120px;
  height: 80px;
}

#primary-header div.header-contents nav.nav a.logo div.text-logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Glory', sans-serif;
  text-transform: uppercase;
}

#primary-header div.header-contents nav.nav a.logo div.text-logo h1 {
  margin-top: 50px;
}

#primary-header div.header-contents nav.nav a.logo div.text-logo h1 span.deen {
  font-family: 'Glory', sans-serif;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text {
  margin-left: 10px;
  line-height: .5em;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text h1 {
  margin: 0;
  font-size: 200%;
  font-family: 'Architects Daughter', cursive;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text h1 span.deen {
  color: green;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text h1 span.online {
  color: rgba(0, 0, 0, 0.6);
}

#primary-header div.header-contents nav.nav a.logo div.logo-text span.slogan {
  color: green;
  font-size: 12px;
  font-weight: 600;
  margin-top: -10px;
}

#primary-header div.header-contents nav.nav a.logo:hover {
  opacity: .8;
  -webkit-transition: 500ms ease-in-out linear;
  transition: 500ms ease-in-out linear;
}

#primary-header div.header-contents nav.nav ul.navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 35px;
  margin: 50px auto 0 0;
  padding: 0;
  text-align: center;
}

#primary-header div.header-contents nav.nav ul.navbar li a {
  font-size: 16px;
  color: rgba(18, 94, 18, 0.6);
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

#primary-header div.header-contents nav.nav ul.navbar li a:hover {
  color: #125e12;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

#primary-header div.header-contents nav.nav a.admisson-btn {
  margin-left: auto;
  text-decoration: none;
  background-color: #0d6efd;
  padding: .5em;
  width: 180px;
  display: block;
  margin-right: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: -10px;
}

#primary-header div.header-contents nav.nav a.admisson-btn:hover {
  background-color: #0d6dfdda;
}

@media (max-width: 924px) {
  #primary-header div.header-contents nav.nav {
    display: none;
  }
}

#primary-header div.header-contents div.carousel-inner div.carousel-item {
  min-height: 75vh;
  font-family: 'Roboto', sans-serif;
  background-color: #777;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h1 {
  font-size: 54px;
  font-weight: bold;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h4 {
  color: rgba(255, 255, 255, 0.6);
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h2 {
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h3 {
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

#primary-header div.header-contents div.carousel-inner .item-one {
  background-image: url("https://images.unsplash.com/photo-1609599006353-e629aaabfeae?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGlzbGFtaWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#primary-header div.header-contents div.carousel-inner .item-two {
  background-image: url("https://image.freepik.com/free-vector/muslim-students-reading-book_1308-49198.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#primary-header div.header-contents div.carousel-inner .item-three {
  background-image: url("https://images.unsplash.com/photo-1624862304762-3dc2366f6141?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 924px) {
  #primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 1em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  #primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h1 {
    font-size: 28px;
    font-weight: bold;
  }
  #primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h4 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
  }
  #primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h2 {
    line-height: 1.5em;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
  #primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h3 {
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.8);
  }
  #primary-header div.header-contents .item-one {
    background-image: url("https://images.unsplash.com/photo-1609599006353-e629aaabfeae?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGlzbGFtaWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  #primary-header div.header-contents .item-two {
    background-image: url("https://images.pexels.com/photos/448877/pexels-photo-448877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  #primary-header div.header-contents .item-three {
    background-image: url("https://images.unsplash.com/photo-1624862304762-3dc2366f6141?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (max-width: 924px) {
  #primary-header {
    top: 0px;
  }
}

div.courses {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #eae4e9;
}

div.courses div.course-contents {
  padding: 50px 0;
}

div.courses div.course-contents div.course-heading {
  width: 100%;
  text-align: center;
}

div.courses div.course-contents div.course-heading h1 {
  padding: 0 0 10px 0;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

div.courses div.course-contents div.course-heading span.underline {
  display: block;
  width: 130px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

div.courses div.course-contents div.container {
  background-color: #eee;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.courses div.course-contents div.container div.course {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  -webkit-box-flex: 400px;
      -ms-flex: 400px;
          flex: 400px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  border-radius: 5px;
}

div.courses div.course-contents div.container div.course div.course-icon {
  margin: 0px 10px 0px 0px;
}

div.courses div.course-contents div.container div.course div.course-detail h2.course-name {
  font-size: 24px;
  font-weight: bold;
}

div.courses div.course-contents div.container div.course div.course-detail div.course-description div.quran {
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

div.courses div.course-contents div.container div.course div.course-detail div.course-description div.quran span {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

div.courses div.course-contents div.container div.course:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

div.courses div.course-contents div.container div.course-one {
  background-color: #fae1dd;
}

div.courses div.course-contents div.container div.course-two {
  background-color: #90e0ef;
}

div.courses div.course-contents div.container div.course-three {
  background-color: #eae4e9;
}

div.courses div.course-contents div.container div.course-four {
  background-color: #adb5bd;
}

div.courses div.course-contents div.container div.course-five {
  background-color: #f3d5b5;
}

div.courses div.course-contents div.container div.course-six {
  background-color: #ff8fa3;
}

div.courses div.course-contents div.container div.course-seven {
  background-color: #95d5b2;
}

div.courses div.course-contents div.container div.course-eight {
  background-color: #b6ad90;
}

div.courses div.course-contents div.container div.course-nine {
  background-color: #d2b7e5;
}

div.mission-wrapper {
  color: rgba(0, 0, 0, 0.8);
}

div.mission-wrapper div.mission {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  padding: 1em;
}

div.mission-wrapper div.mission div.container {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #eee;
}

div.mission-wrapper div.mission div.container div.mission-contents {
  padding: 1em;
}

div.mission-wrapper div.mission div.container div.mission-contents h1 {
  padding-bottom: .5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
}

div.mission-wrapper div.mission div.container div.mission-contents h1 span.underline {
  display: block;
  width: 150px;
  background-color: #7e7777;
  height: 4px;
  margin-top: 10px;
}

div.mission-wrapper div.mission div.container div.mission-contents p {
  font-size: 18px;
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 1px;
}

@media (max-width: 924px) {
  div.mission-wrapper div.mission div.container div.mission-contents {
    padding: .5em;
  }
}

@media (max-width: 924px) {
  div.mission-wrapper div.mission {
    padding: 0;
  }
}

div.accordion div.container div.heading {
  background-color: #1DA1F2;
}

div.accordion div.container div.heading h1 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

div.glider-contain {
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

div.glider-contain div.container h1 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-bottom: 1em;
  text-transform: uppercase;
}

div.glider-contain div.container div.glider {
  padding: 1em;
  border: 5px solid rgba(0, 0, 0, 0.1);
}

div.glider-contain div.container div.glider div.feedback {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

div.glider-contain div.container div.glider div.feedback div.quote img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

div.glider-contain div.container div.glider div.feedback div.message figure p {
  margin-top: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

div.glider-contain div.container div.glider div.feedback div.message figcaption {
  color: rgba(0, 0, 0, 0.5);
}

div.glider-contain div.container button.glider-prev img {
  margin-left: 100px;
  margin-top: 90px;
}

div.glider-contain div.container button.glider-next img {
  margin-right: 100px;
  margin-top: 90px;
}

@media (max-width: 924px) {
  div.glider-contain {
    display: none;
  }
}

div.feedback-wrapper {
  display: none;
}

@media (max-width: 924px) {
  div.feedback-wrapper {
    display: block;
  }
  div.feedback-wrapper h1 {
    color: rgba(0, 0, 0, 0.6);
    padding: 1em 0;
    text-align: center;
  }
  div.feedback-wrapper div.feedback-contents div.feedback {
    width: 100%;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  div.feedback-wrapper div.feedback-contents div.feedback div.quote img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  div.feedback-wrapper div.feedback-contents div.feedback figure figcaption {
    color: rgba(0, 0, 0, 0.5);
  }
  div.feedback-wrapper div.feedback-contents div.feedback figure p {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    font-weight: bold;
  }
}

div.facilities {
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

div.facilities div.container h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 0 0 10px 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

div.facilities div.container h1 span.underline {
  display: block;
  width: 200px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

@media (max-width: 924px) {
  div.facilities div.container h1 {
    font-size: 28px;
  }
}

div.facilities div.container div.facilities-contents div.facility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.facilities div.container div.facilities-contents div.facility ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

div.facilities div.container div.facilities-contents div.facility ul li {
  line-height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 28px;
}

div.facilities div.container div.facilities-contents div.facility ul li span.icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #1DA1F2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #fff;
}

@media (max-width: 924px) {
  div.facilities div.container div.facilities-contents div.facility ul li {
    font-size: 18px;
  }
  div.facilities div.container div.facilities-contents div.facility ul li span.icon {
    width: 30px;
    height: 30px;
  }
}

div.about {
  margin-bottom: 40px;
}

div.about div.container {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

div.about div.container div.about-contents h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.7);
}

div.about div.container div.about-contents span {
  display: block;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 5px;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 20px;
}

div.about div.container div.about-contents p {
  font-family: px 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  padding: 1em;
}

div.contact-form-wrapper {
  font-family: 'Roboto', sans-serif;
  background-color: #ede0d4;
  color: rgba(0, 0, 0, 0.8);
}

div.contact-form-wrapper div.contact-form-contents div.contact-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  width: 100%;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact {
  padding-top: 1em;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact h1 {
  padding-bottom: 20px;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .phone, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .email, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .phone a, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .email a, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .address a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .phone a:hover, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .email a:hover, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .address a:hover {
  text-decoration: underline;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .phone span:nth-child(1), div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .email span:nth-child(1), div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .address span:nth-child(1) {
  margin-right: 20px;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .phone span.icon img, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .email span.icon img, div.contact-form-wrapper div.contact-form-contents div.contact-side div.contact-detail div.contact .address span.icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

div.contact-form-wrapper div.contact-form-contents div.contact-side div.form-contact-side {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 924px) {
  div.contact-form-wrapper div.contact-form-contents div.contact-side {
    display: block;
  }
}

div.contact-form-wrapper div.map {
  width: 100%;
  padding: 0;
  margin: 0;
}

div.contact-form-wrapper div.map iframe {
  width: 100%;
  margin-bottom: -7px;
  padding: 0;
  width: 100%;
  height: 500px;
}

div.footer {
  width: 100%;
  margin-top: 100px;
}

div.footer div.container div.footer-nav {
  padding: 1em 1em 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

div.footer div.container div.footer-nav a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

div.footer div.container div.footer-nav a.logo img {
  width: 120px;
  height: 80px;
}

div.footer div.container div.footer-nav a.logo div.text-logo h1 {
  text-transform: uppercase;
  margin-top: 40px;
}

div.footer div.container div.footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.footer div.container div.footer-contents div.flex-item {
  -webkit-box-flex: 300px;
      -ms-flex: 300px;
          flex: 300px;
}

div.footer div.container div.footer-contents div.footer-left h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 34px;
}

div.footer div.container div.footer-contents div.footer-left ul {
  padding: 0;
  margin: 0;
}

div.footer div.container div.footer-contents div.footer-left ul li {
  margin: 10px 0;
}

div.footer div.container div.footer-contents div.footer-left ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

div.footer div.container div.footer-contents div.footer-left ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

div.footer div.container div.footer-contents div.footer-center div.contact h3 {
  color: rgba(255, 255, 255, 0.8);
}

div.footer div.container div.footer-contents div.footer-center div.contact div.phone, div.footer div.container div.footer-contents div.footer-center div.contact div.email, div.footer div.container div.footer-contents div.footer-center div.contact div.address, div.footer div.container div.footer-contents div.footer-center div.contact div.website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

div.footer div.container div.footer-contents div.footer-center div.contact div.phone span, div.footer div.container div.footer-contents div.footer-center div.contact div.phone a, div.footer div.container div.footer-contents div.footer-center div.contact div.email span, div.footer div.container div.footer-contents div.footer-center div.contact div.email a, div.footer div.container div.footer-contents div.footer-center div.contact div.address span, div.footer div.container div.footer-contents div.footer-center div.contact div.address a, div.footer div.container div.footer-contents div.footer-center div.contact div.website span, div.footer div.container div.footer-contents div.footer-center div.contact div.website a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

div.footer div.container div.footer-contents div.footer-center div.contact div.phone span.icon, div.footer div.container div.footer-contents div.footer-center div.contact div.email span.icon, div.footer div.container div.footer-contents div.footer-center div.contact div.address span.icon, div.footer div.container div.footer-contents div.footer-center div.contact div.website span.icon {
  margin-right: 15px;
}

div.footer div.container div.footer-contents div.footer-center div.contact div.phone span.icon img, div.footer div.container div.footer-contents div.footer-center div.contact div.email span.icon img, div.footer div.container div.footer-contents div.footer-center div.contact div.address span.icon img, div.footer div.container div.footer-contents div.footer-center div.contact div.website span.icon img {
  fill: #fff;
}

div.footer div.container div.footer-contents div.footer-right h3 {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 20px;
}

div.footer div.container div.footer-contents div.footer-right div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.footer div.container div.footer-contents div.footer-right div.icons a span img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

@media (max-width: 720px) {
  div.footer div.container div.footer-contents div.footer-right {
    margin: 10px 0 20px 0;
  }
  div.footer div.container div.footer-contents div.footer-right h3 {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 0px;
  }
  div.footer div.container div.footer-contents div.footer-right div.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  div.footer div.container div.footer-contents div.footer-right div.icons a span img {
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-right: 20px;
  }
}

div.footer div.copyright {
  text-align: center;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.1);
}

div.footer div.copyright span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

div.footer div.copyright span.developed-by {
  margin-left: 30px;
}

div.footer div.copyright span.developed-by a {
  font-size: 18px;
  color: #3f76ec;
  text-decoration: none;
  margin-left: 5px;
}

div.footer div.copyright span.developed-by a:hover {
  text-decoration: underline;
}

div.messages {
  background-color: #48cae4;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 1em;
}

div.messages div.container {
  width: 50%;
  margin: 50px auto;
}

div.messages div.container div.empty-inbox {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  color: rgba(0, 0, 0, 0.5);
}

div.messages div.container div.message {
  position: relative;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div.messages div.container div.message div.card {
  background-color: rgba(255, 255, 255, 0.6);
}

div.messages div.container div.message div.card div.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.messages div.container div.message div.card div.card-header img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 70px;
}

div.messages div.container div.message div.card div.card-header div.name-contact {
  line-height: .5em;
}

div.messages div.container div.message div.card div.card-header div.name-contact h5.name {
  font-size: 16px;
  font-weight: 600;
}

div.messages div.container div.message div.card div.card-header div.name-contact span.phonenumber, div.messages div.container div.message div.card div.card-header div.name-contact span.email {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

div.messages div.container div.message div.card div.card-header div.name-contact span.phonenumber {
  margin: 0;
  padding: 0;
}

div.messages div.container div.message div.card div.card-header div.name-contact span.email {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  margin-left: 5px;
}

div.messages div.container div.message div.card div.card-header div.name-contact a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

div.messages div.container div.message div.card div.card-header div.name-contact a:hover {
  text-decoration: underline;
}

div.messages div.container div.message div.edit-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.messages div.container div.message div.edit-delete-btn a {
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(#fff, #eee);
  font-size: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 3px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

div.messages div.container div.message div.edit-delete-btn a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.795)), to(rgba(224, 216, 216, 0.822)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.795), rgba(224, 216, 216, 0.822));
}

div.messages div.container div.message div.edit-delete-btn a.edit {
  margin-right: 10px;
}

@media (max-width: 924px) {
  div.messages div.container {
    width: 95%;
    margin: 50px auto;
  }
}

.top-link {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #F8F8F8;
}

.top-link.show {
  visibility: visible;
  opacity: 1;
}

.top-link.hide {
  visibility: hidden;
  opacity: 0;
}

.top-link svg {
  fill: #000;
  width: 24px;
  height: 12px;
}

.top-link:hover {
  background-color: #E8E8E8;
}

.top-link:hover svg {
  fill: #000000;
}

.screen-reader-text {
  position: absolute;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  -webkit-clip-path: none;
          clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}

div.student-management .table {
  background-color: rgba(0, 0, 0, 0.1);
}

div.student-management .table tbody td.courses ul li:nth-child(1) {
  display: none;
}

div.student-management .table tbody td.courses ul li {
  font-size: 12px;
}

div.authenticate {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.377);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

div.authenticate div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.authenticate div.content form {
  width: 300px;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div.authenticate div.content form a.backtohome {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

div.authenticate div.content form a.backtohome:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */