@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.social-contacts div.contents {
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d8f3dc;
}

div.social-contacts div.contents div.social-icons {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 20px;
}

div.social-contacts div.contents div.social-icons h5 {
  margin-right: 20px;
}

div.social-contacts div.contents div.social-icons div.icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

div.social-contacts div.contents div.contact-number {
  margin-left: auto;
  width: 100%;
}

div.social-contacts div.contents div.contact-number div.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.social-contacts div.contents div.contact-number div.contents span {
  margin-right: 10px;
  font-weight: 700;
}

#primary-header {
  width: 100%;
  color: #fff;
  position: relative;
  min-height: 90vh;
}

#primary-header div.header-contents {
  width: 100%;
}

#primary-header div.header-contents nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background: #ECE9E6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#ECE9E6));
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#primary-header div.header-contents nav.nav a.logo {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text {
  margin-left: 10px;
  line-height: .5em;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text h1 {
  margin: 0;
  font-size: 200%;
  font-family: 'Architects Daughter', cursive;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text h1 span.deen {
  color: green;
}

#primary-header div.header-contents nav.nav a.logo div.logo-text h1 span.online {
  color: rgba(0, 0, 0, 0.6);
}

#primary-header div.header-contents nav.nav a.logo div.logo-text span.slogan {
  color: green;
  font-size: 12px;
  font-weight: 600;
  margin-top: -10px;
}

#primary-header div.header-contents nav.nav a.logo:hover {
  opacity: .8;
  -webkit-transition: 500ms ease-in-out linear;
  transition: 500ms ease-in-out linear;
}

#primary-header div.header-contents nav.nav ul.navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 35px;
  margin: 20px auto 0 auto;
  padding: 0 1em;
  text-align: center;
}

#primary-header div.header-contents nav.nav ul.navbar li a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

#primary-header div.header-contents nav.nav a.admisson-btn {
  margin-left: auto;
  text-decoration: none;
  background-color: #0d6efd;
  padding: .5em;
  width: 180px;
  display: block;
  margin-right: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: -10px;
}

#primary-header div.header-contents nav.nav a.admisson-btn:hover {
  background-color: #0d6dfdda;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item {
  min-height: 75vh;
  font-family: 'Roboto', sans-serif;
  background-color: #777;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h1 {
  font-size: 54px;
  font-weight: bold;
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h4 {
  color: rgba(255, 255, 255, 0.6);
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h2 {
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

#primary-header div.header-contents div.carousel-inner div.carousel-item div.carousel-item-contents div.contents h3 {
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.8);
}

#primary-header div.header-contents div.carousel-inner .item-one {
  background-image: url("https://images.pexels.com/photos/318451/pexels-photo-318451.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#primary-header div.header-contents div.carousel-inner .item-two {
  background-image: url("https://images.pexels.com/photos/448877/pexels-photo-448877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.courses {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #eae4e9;
}

div.courses div.course-contents {
  padding: 50px 0;
}

div.courses div.course-contents div.course-heading {
  width: 100%;
  text-align: center;
}

div.courses div.course-contents div.course-heading h1 {
  padding: 0 0 10px 0;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

div.courses div.course-contents div.course-heading span.underline {
  display: block;
  width: 130px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

div.courses div.course-contents div.container {
  background-color: #eee;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.courses div.course-contents div.container div.course {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  -webkit-box-flex: 300px;
      -ms-flex: 300px;
          flex: 300px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  border-radius: 5px;
}

div.courses div.course-contents div.container div.course div.course-icon {
  margin: 0px 10px 0px 0px;
}

div.courses div.course-contents div.container div.course div.course-detail h2.course-name {
  font-size: 24px;
  font-weight: bold;
}

div.courses div.course-contents div.container div.course div.course-detail p.course-description {
  margin-top: 20px;
}

div.courses div.course-contents div.container div.course:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

div.courses div.course-contents div.container div.course-one {
  background-color: #fae1dd;
}

div.courses div.course-contents div.container div.course-two {
  background-color: #90e0ef;
}

div.courses div.course-contents div.container div.course-three {
  background-color: #eae4e9;
}

div.courses div.course-contents div.container div.course-four {
  background-color: #adb5bd;
}

div.courses div.course-contents div.container div.course-five {
  background-color: #f3d5b5;
}

div.courses div.course-contents div.container div.course-six {
  background-color: #ff8fa3;
}

div.courses div.course-contents div.container div.course-seven {
  background-color: #95d5b2;
}

div.courses div.course-contents div.container div.course-eight {
  background-color: #b6ad90;
}

div.courses div.course-contents div.container div.course-nine {
  background-color: #d2b7e5;
}

div.mission-wrapper {
  background-image: url("https://images.unsplash.com/photo-1575645513913-c002ea3b2e01?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGlzbGFtaWN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(0, 0, 0, 0.6);
}

div.mission-wrapper div.mission {
  width: 100%;
  height: 100%;
  padding: 1em;
  color: #fff;
}

div.mission-wrapper div.mission div.container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

div.mission-wrapper div.mission div.container div.mission-contents {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}

div.mission-wrapper div.mission div.container div.mission-contents h1 {
  padding-bottom: .5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.mission-wrapper div.mission div.container div.mission-contents h1 span.underline {
  display: block;
  width: 150px;
  background-color: #fff;
  height: 4px;
  margin-top: 10px;
}

div.mission-wrapper div.mission div.container div.mission-contents p {
  font-size: 18px;
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 1px;
}

div.facilities {
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.03);
}

div.facilities div.container h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 0 0 10px 0;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

div.facilities div.container h1 span.underline {
  display: block;
  width: 130px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

div.facilities div.container div.facilities-contents div.facility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.facilities div.container div.facilities-contents div.facility ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div.facilities div.container div.facilities-contents div.facility ul li {
  line-height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
}

div.facilities div.container div.facilities-contents div.facility ul li span.icon {
  margin-right: 10px;
}

div.facilities div.container div.facilities-contents div.facility div.meeting-icons {
  padding: 0 3em;
  width: 550px;
}

div.facilities div.container div.facilities-contents div.facility div.meeting-icons h2 {
  text-align: center;
  font-weight: bold;
}

div.facilities div.container div.facilities-contents div.facility div.meeting-icons div.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

div.facilities div.container div.facilities-contents div.facility div.meeting-icons div.contents img {
  width: 200px;
  height: 200px;
}
/*# sourceMappingURL=main.css.map */